<form (ngSubmit)="SaveFormData(FormData)" #FormData="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="employee.Name" name="name" 
        class="form-control" #name="ngModel" id="name" placeholder="Name">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" name="email" 
        [(ngModel)]="employee.Email" #email="ngModel" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" name="password"
         [(ngModel)]="employee.Pasword" #password="ngModel" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>